# user-specific aliases and functions

#alias rm='rm -i'
#alias cp='cp -i'
#alias mv='mv -i'

# os x only
if [ `uname` == 'Darwin' ];
then
	alias ls='ls -G'
else
	alias ls='ls --color=always'
fi

alias lsa='ls -Ah'
alias lsl='ls -lh'
alias lsal='ls -lAh'
alias LS='ls'
alias ..='cd ..; ls'
alias cd..='cd ..'

# gentoo only
#alias eix-sync='sudo eix-sync'
