[user]
  name = Dana Merrick
  email = dana.merrick@postmates.com
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore.global
[push]
  default = simple
[help]
  autocorrect = 20
[http]
  cookiefile = ~/.gitcookies

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  co = checkout
  cl = clone
  s = status
  br = branch

  a = add
  d = diff
  dt = difftool

  c = commit 
  ca = commit -a

  l = log

  # shows the branches most recently committed-to
  recent = !git for-each-ref --sort=committerdate refs/heads/ --format='%(committerdate:short) %(refname:short)' | tail -r | egrep -v '(production|master|release)' | head -5

  pr = pull --rebase
  pom = push origin master
  phm = push heroku master
  p = push

  ru = remote update
  ro = rebase origin/master
  r = rebase

  # https://github.com/tiimgreen/github-cheat-sheet#checking-out-pull-requests
  fpr = fetch origin '+refs/pull/*/head:refs/remotes/origin/pr/*'

  # http://blog.apiaxle.com/post/handy-git-tips-to-stop-you-getting-fired/
  assume   = update-index --assume-unchanged
  unassume = update-index --no-assume-unchanged
  assumed  = "!git ls-files -v | grep ^h | cut -c 3-"

  ours   = "!f() { git checkout --ours $@ && git add $@; }; f"
  theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
